body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imback.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: rgba(143, 64, 248, 0.9);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

select, input[type="text"], input[type="date"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajout pour centrer verticalement */
}

button {
    padding: 10px 20px;
    background-color: rgba(143, 64, 248, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(143, 64, 248, 0.7);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(143, 64, 248, 0.5);
}

.devoir-info, .annonce-info {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: rgba(143, 64, 248, 0.5);
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(143, 64, 248, 0.1);
}


